/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----- Custom styling ----*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 32px 0;
  font-family: monospace;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  border: 1px solid black;
}
img {
  width: 100%;
  aspect-ratio: 16/9;
}

.heading {
  font-size: 48px;
  text-align: center;
  padding: 24px 0;
}
.sub-heading {
  font-size: 24px;
  text-align: center;
  padding: 12px 0;
}

.content {
  padding: 32px;
  text-align: left;
}

.content h1 {
  color: #011;
  font-size: 32px;
  font-weight: 600;
  font-family: monospace;
}
.content h3 {
  color: lightcoral;
  margin-top: 12px;
  font-size: 24px;
}
.content p {
  line-height: 1.6;
  color: rgb(179, 171, 171);
  font-size: 18px;
  padding: 16px 0;
}
span {
  margin-top: 24px;
  margin-right: 14px;
  color: rgb(108, 136, 126);
}
.date {
  position: absolute;
  color: #fff;
  background-color: coral;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  right: 20px;
  top: 20px;
}

.category {
  color: #fff;
  background-color: coral;
  font-size: 16px;
  padding: 10px 20px;
  position: absolute;
  top: 166px;
  text-transform: uppercase;
}
.wrapper {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.article-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-25 {
  flex: 0 1 28%;
}

header {
  text-align: center;
  padding-bottom: 24px;
}

header h1 {
  font-size: 64px;
  padding: 16px 0;
  font-weight: 800;
}
